.todolist{
  background-color:blanchedalmond;
  height:900px;
  width:100%;
  border: 2PX solid black;
}
input{
  height: 30px;
  width: 65%;
  border-radius:5px;
  margin-left: 10px;
}
.btn1{
  background-color: green;
  color: white;
  width: 7%;
  height: 35px;
  border-radius: 5px;
  margin-left: 50px;
}
.btn2{
  background-color:darkorchid;
  color: white;
  width: 7%;
  height: 35px;
  border-radius: 5px;
  margin-left: 10px;
}
 .but1 {
  background-color:red;
  color: white;
  width: 7%;
  height: 35px;
  border-radius: 5px;
margin-left: 49%;
  
}
.ul{
  height: 35px;
  width: 45%;
  border-radius:5px;
margin-top: 30px;
  background-color: white;
  margin-left: 30px;

  margin-bottom:-35px;
}

@media screen and (max-width: 600px){
  .todolist{
   
    height:900px;
    width:94%;
  }
  input{
    height: 30px;
    width: 94%;
   
  }
  .btn1{
   margin-top: 20px;
    color: white;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .btn2{
    background-color:darkorchid;
    color: white;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    margin-left: 20px;
  }
  .but1 {
    background-color:red;
    color: white;
    width: 25%;
    height: 35px;
    border-radius: 5px;
    margin-left: 74%;
    
  }
  .ul{
    height: 35px;
    width: 70%;
    border-radius:5px;
    margin-top: 30px;
    background-color: white;
    margin-left: 11px;
    margin-bottom:-35px;
  }
}
